.pelangi {
    font-family: cursive;
    text-align: center;
    animation: warnawarni 6s linear 0s infinite;
}

@keyframes warna {
    from {
    color: #6666ff;
  }
  0% {
                transform: translateY(0);
            }

  10% {
    color: #0099ff;
  }

  50% {
    color: #00ff00;
  }
  50% {
                transform: translateY(-20px);
            }

  75% {
    color: #ff3399;
  }

  100% {
    color: #6666ff;
  }
  100% {
                transform: translateY(0);
            }      
}

@keyframes warnawarni {
    from {
    color: #6666ff;
  }
 
  10% {
    color: #0099ff;
  }

  50% {
    color: #00ff00;
  }
 
  75% {
    color: #ff3399;
  }

  100% {
    color: #6666ff;
  }

}